.big-container {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.login-form {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4c1aa;
  border-radius: 5rem;
  box-shadow: -8px 39px 21px 0px rgba(0, 0, 0, 0.1);
}
.logo-principal {
  width: 250px;
  border-radius: 100%;
  margin: 0 auto;
}
.login-title {
  color: #fff0df;
}

.login-btn {
  width: 100%;
}
