@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff0df;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top;
}

.App {
  text-align: center;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  padding: 20rem;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #d4c1aa;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: -8px 39px 21px 0px rgba(0,0,0,0.1);
}

.TodoCompleted{
background: #d4c1aa;
padding: 2rem;
border-radius: 50px;
box-shadow: -8px 39px 21px 0px rgba(0,0,0,0.1);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #fff0df;
  border: 5px solid#febbd0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000000;
}

.todo-input::placeholder {
  color: #000000;
}

.todo-btn {
  background: #febbd0;
  color: #000000;
  border: none;
  padding: 0.725rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff0df;
  color: #000000;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #000000;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon, 
.check-icon{
  cursor: pointer;
}
 .icon-container{
  display:flex;
  gap:0.5rem;
 }
 .header {
  grid-column: span 2 / span 2;
  font-size: 3rem;
 }
